.layout {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.displayBox {
    background-color: white;
    width: 60%;
    height: 60%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.visible {
    visibility: visible;
}

.invisible {
    visibility: hidden;
}

.resetButton {
    width: 30%;
}